body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: black;
}
.square {
    position: relative;
    width: 150px;
    height: 150px;
    background-color: #ccc;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    transition: 1s;
}
#colorCode {
    text-align: center;
    font-size: 25px;
    margin: 0;
    position: absolute;
    bottom: 50%;
    right: 50%;
    transform: translate(50%, 50%);
}
.square:hover {
    transition: 0.5s;
    height: 300px;
    width: 300px;
}
